<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <nav th:fragment="nav" class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Locadora</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/usuario/index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Gerenciamento</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Obras</a>
                        </div>
                    </li>
                </ul>               
                <ul th:replace="auth/auth-nav :: nav"> </ul> <!-- adicionado -->
            </div>
        </div>
    </nav>    
	
</body>
</html>
